In [25]:
import pandas as pd

In [26]:
dt=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/spambase/spambase.data')

In [27]:
dt.columns=list(range(dt.shape[1]-1))+['result']

In [28]:
dt.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,result
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.00,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1

In [29]:
x=pd.DataFrame(dt.corr()).iloc[-1]
ind=x[((x>=0.1) & (x<=0.9)) | ((x<=-0.1) & (x>=-0.9))].index

In [30]:
dx=dt[ind]
dy=dt['result']

In [32]:
from sklearn.model_selection import train_test_split
x_tr,x_ts,y_tr,y_ts=train_test_split(dx,dy,test_size=0.2)

In [38]:
dx=dt.drop('result',axis=1)
dy=dt['result']
from sklearn.model_selection import train_test_split
x_tr,x_ts,y_tr,y_ts=train_test_split(dx,dy,test_size=0.2)

In [39]:
from sklearn.neighbors import KNeighborsClassifier
algo=KNeighborsClassifier()
algo.fit(x_tr,y_tr)
algo.score(x_ts,y_ts)

0.8228260869565217

In [40]:
from sklearn.naive_bayes import GaussianNB
algo1=GaussianNB()
algo1.fit(x_tr,y_tr)
algo1.score(x_ts,y_ts)

0.8532608695652174

In [41]:
from sklearn.linear_model import LogisticRegression
algo2=LogisticRegression()
algo2.fit(x_tr,y_tr)
algo2.score(x_ts,y_ts)

0.9445652173913044

In [42]:
from sklearn.tree import DecisionTreeClassifier
algo3=DecisionTreeClassifier()
algo3.fit(x_tr,y_tr)
algo3.score(x_ts,y_ts)

0.9065217391304348

In [43]:
from sklearn.ensemble import RandomForestClassifier
algo4=RandomForestClassifier()
algo4.fit(x_tr,y_tr)
algo4.score(x_ts,y_ts)

0.9510869565217391